<h1>Greetings <%= @name %> </h1>
<p>The time now is <%= formatted_time(@time) %> (displaid times: <%= @times_displayed %>)</p>

<p><%= link_to "Google", "http://www.google.com" %></p>
<p><%= link_to "Goodbye", greeter_goodbye_path %></p>
